/*
|---------------------------------------------------------------
| BODY STRUCTURE                             
|---------------------------------------------------------------
*/
html {
	transition: background 0.3s;
	background: #fff;
	max-width: 100%;
}

body {
	margin: 0;
	padding: 0;
	background-size: 100%;
	line-height: 1.5;
	font-size: 15px;
	font-weight: 300;
	color: #4e4e4e;
	height: 100%;
	font-family: 'Roboto', sans-serif;
}

#body {
	max-width: 100%;
	position: relative;
	text-align: justify;
	min-height: 1000px;
}

.content {
	z-index: 100;
	position: relative;
	max-width: 100%;
	margin-top: 30px;
}

.header {
	background: #000 url(../images/header.jpg);
	height: 400px;
	width: 100%;
	background-size: cover;
	background-position: bottom center;
	margin-bottom: 30px;
	background-attachment: fixed;
	z-index: -3;
	background-repeat: no-repeat;
}

.header-container {
	padding: 25px 1.5% 30px 1.5%;
	height: 40px;
	display: block;
	position: fixed;
	width: 97%;
	z-index: 1;
	background: #ffffff url(../images/header.jpg);
	background-size: cover;
	background-position: bottom center;
	margin-bottom: 30px;
	background-attachment: fixed;
	background-repeat: no-repeat;
	z-index: 100000;
}

.header-container .overlay {
	height: 40px;
	margin-left: -1.5%;
	padding: 27.5px 1%;
	width: 98%;
	position: absolute;
	top: 0;
}

.control-bar {
	margin-top: -30px;
	background: #818ea1;
	padding: 20px 0;
	color: #fff;
}

.control-bar .row {
	margin: 0;
}

.control-bar .col {
	padding: 0;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 400px;
	background: #ffffff3b;
	transition: background 0.3s;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
	transition: 0.2s ease-in-out;
}

.subnav-container {
	width: 1280px;
	margin-top: 30px;
	margin-bottom: 30px;
}

hr {
	border-color: #eeeeee;
}

.footer {
	background: #dedede;
	color: #676767;
	padding: 25px 0;
	font-weight: 400;
}

.footer .row {
	margin-bottom: 0;
}

.footer .col {
	padding: 0 !important;
}

.footer center {
	display: none;
}

.footer .center {
	text-align: center;
}

.footer .right {
	float: right;
}


/* CONFIG FOR SMALL DEVICES */

@media only screen and (max-width: 820px) {
	.control-bar {
		display: none;
	}
	.settings {
		font-size: 30px;
		margin-top: 20px
	}
	.settings a {
		color: #263245 !important;
		margin-right: 20px;
	}
	.alerts {
		margin-top: 30px;
	}
	.alerts a {
		margin-right: 20px
	}
	.header {
		height: 90px;
		background: transparent;
	}
	.overlay {
		height: 100px;
	}
	.subnav-container {
		width: 100%;
		/* box-sizing: border-box; */
	}
	.footer {
		text-align: center;
		align-items: center;
		width: 100%;
	}
	.footer center {
		display: initial;
		margin-top: 20px;
		display: block;
	}
	.footer .right {
		display: none;
	}
}

@media (min-width: 768px) {
	.container {
		width: 750px;
	}
}

@media (min-width: 992px) {
	.container {
		width: 970px;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1170px;
	}
}


/*
|---------------------------------------------------------|
| NAVIGATION                                              |
|---------------------------------------------------------|
*/

.nav {
	height: 85px;
}

.mobile-nav {
	display: none;
}

.header-nav {
	float: right;
}

.header-nav li {
	float: left;
	padding: 10px;
}

.header-nav a {
	color: #fff !important;
	font-weight: bold;
	text-transform: uppercase;
	transition: 0.3s;
	border-bottom: 3px solid transparent;
}

.header-nav a:hover {
	border-bottom: 3px solid #95c6e2;
	text-decoration: none;
	padding-bottom: 5px;
	color: #caecff !important;
}


/* NAVIGATION ICON & MOVEMENT */

.openNav {
	left: 10px;
	background: #f5f5f5;
	transition-duration: 0.5s;
	transition-timing-function: swing;
	width: 50px;
	height: 50px;
	position: fixed;
	right: 0%;
	top: 15px;
	z-index: 10000;
	border-radius: 90px;
	cursor: pointer;
}

.openNav:hover {
	cursor: pointer !important;
}

.openNav .icon {
	transition-duration: 0.2s;
	position: absolute;
	width: 30px;
	height: 4px;
	background-color: #ffffff;
	top: 25px;
	left: 10px;
}

.openNav .icon:before,
.openNav .icon:after {
	transition-duration: 0.5s;
	background-color: #ffffff;
	position: absolute;
	content: "";
	width: 30px;
	height: 1.5px;
	left: 0px;
}

.openNav .icon:before {
	top: -8px;
	height: 4px;
}

.openNav .icon:after {
	top: 8px;
	height: 4px;
}

.openNav.open {
	position: fixed;
}

.openNav.open .icon {
	background-color: transparent;
}

.openNav.open .icon:before,
.openNav.open .icon:after {
	top: 0;
}

.openNav.open .icon:before {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	width: 30px;
	background-color: #ffffff;
}

.openNav.open .icon:after {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	width: 30px;
	background-color: #ffffff;
}


/* NAVIGATION MENU OVERLAY */

.menu-overlay {
	position: fixed;
	z-index: 4;
	overflow: hidden;
	top: 0;
	left: 0;
	height: 100%;
	margin-left: -360px;
	padding: 130px 30px;
	width: 300px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	opacity: 0;
	transition: 0.3s;
	z-index: 1000;
}

.menu-overlay.open {
	display: none;
}


/* NAVIGATION MENU ITEMS */

.sub-nav {
	width: 150px;
	border-left: 3px solid #eee;
	display: block;
	height: 100%;
}

.nav-main>li {
	padding: 10px 0px;
}

.nav-main>li>a {
	font-size: 20px;
	color: #7b7b7b !important;
	border-left: 3px solid transparent;
	padding-left: 10px;
	margin-left: -10px;
	transition: 0.3s;
}

.nav-main>li>a:hover {
	text-decoration: none;
	border-left: 3px solid #e2bc59;
	transition: 0.3s;
	color: #949494;
}


/* MAIN PAGE SUB-NAVIGATION */

.nav-pills {
	height: 30px;
}

.nav-pills li a {
	float: left;
	padding: 5px 10px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.nav-pills li a:hover {
	background: #ececec;
	color: #5587bf;
	border-left: 3px solid;
	text-decoration: none;
}

.nav-justified {
	border-radius: 4px;
	height: initial;
}

.nav-justified li {
	/* display: block; */
	/* text-align: left; */
	width: 100%;
}

.nav-justified li a {
	text-align: left;
	float: none;
	display: block;
	font-weight: bold;
	width: 100%;
	padding: 10px 15px;
	color: #656565;
	transition: 0.2s;
}


/* CONFIG FOR SMALL DEVICES */

@media only screen and (max-width: 820px) {
	.menu-overlay {
		width: 100%;
	}
	.menu-overlay.open {
		opacity: 1;
		background: #f5f5f5;
		margin-left: 0;
		transition: 0.3s;
		z-index: 10000;
		display: initial;
	}
	.mobile-nav {
		display: initial;
	}
	.nav {
		z-index: 1000;
		height: 85px;
	}
	.openNav {
		left: 5px;
		background: transparent;
		transition-duration: 0.5s;
		transition-timing-function: swing;
		width: 50px;
		height: 50px;
		background: transparent position: fixed;
		top: 20px;
		z-index: 10000;
		border-radius: 90px;
		cursor: pointer;
	}
}


/*
|---------------------------------------------------------|
| TEXT STYLING                                            |
|---------------------------------------------------------|
*/

.name {
	text-align: left;
	margin-top: 70px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #7b7b7b;
}

h1,
h2 {}

.header .title {
	font-size: 40px;
	line-height: 1;
	font-family: Oswald, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffffdb !important;
	-webkit-margin-before: 0px;
	letter-spacing: 1px;
	display: inline;
	margin-top: -10px !important;
	transition: 0.3s;
	padding: 0 10px;
}

.header .title a {
	color: #ffffffdb !important;
}

.header .title a:hover {
	text-decoration: none;
}

.sub {
	font-size: 50px;
	line-height: 1;
	font-family: Oswald, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #ffffffc9;
	-webkit-margin-before: 0px;
	letter-spacing: 1px;
	position: relative;
	z-index: 1000;
}

.member-of {
	font-family: Enterprise;
	text-transform: uppercase;
}

.head-text {
	text-align: center;
	font-family: Montserrat;
	color: #fff;
	font-size: 40px;
}

.page-head {
	font-weight: 100;
}

b,
strong {
	font-weight: bold !important;
}

a {
	text-decoration: none;
	color: #2962a8;
}

a:hover {
	text-decoration: underline;
}

@media only screen and (max-width: 720px) {
	.name {
		padding: 0;
	}
}


/*
|---------------------------------------------------------|
| BUTTIONS                                                |
|---------------------------------------------------------|
*/

button {
	display: inline-block;
	font-weight: normal;
	line-height: 1.25;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	user-select: none;
	font-size: 0.9rem;
	border-width: 1px;
	cursor: pointer;
	border-style: solid;
	border-image: initial;
	padding: 0.5rem 1rem;
	padding-left: 1.25em;
	padding-right: 1.25em;
	border-radius: 1000em;
	transition: all 0.2s ease-in-out;
}

button.button-main,
button.button-main:focus {
	color: rgb(255, 255, 255);
	background-color: #353535;
	border-color: #353535;
}

button.button-main:hover {
	color: rgb(255, 255, 255);
	background-color: #0349bd;
	border-color: #0349bd;
	cursor: pointer;
}

button.button-danger,
button.button-danger:focus {
	color: rgb(255, 255, 255);
	background-color: #454545;
	border-color: #454545;
}

button.button-danger:hover {
	color: rgb(255, 255, 255);
	background-color: #0349bd;
	border-color: #0349bd;
	cursor: pointer;
}

button.button-success,
button.button-success:focus {
	color: rgb(255, 255, 255);
	background-color: #454545;
	border-color: #454545;
}

button.button-success:hover {
	color: rgb(255, 255, 255);
	background-color: #0349bd;
	border-color: #0349bd;
	cursor: pointer;
}

button.button-sec,
button.button-sec:focus {
	border-color: #FF841A;
	color: #FF841A;
	background: transparent;
}

button.button-sec:hover {
	color: #FFF;
	background: #FF841A;
}

button.button-small {
	color: #fff;
	background-color: #337ab7;
	font-weight: normal !important;
	font-size: 90%;
}

button.button-small:hover {
	color: #fff;
	background-color: #286090;
}

input.button-main {
	background: #dfeffc url('../images/button-bg.png') repeat-x top left;
	color: #2e6e9e;
	font-weight: bold;
	font-size: 120%;
}

input.button-main:hover {
	background: #fdf5ce url('../images/button-bg-hover.png') repeat-x top left;
	color: #c77405;
}

input.button-sec {
	background: #eee url('../images/button-bg.png') repeat-x top left;
	color: #777;
	font-weight: bold;
	font-size: 120%;
}

input.button-sec:hover {
	background: #ddd url('../images/button-bg-hover.png') repeat-x top left;
}

button[disabled],
button[disabled]:hover,
input.button-main[disabled],
input.button-main[disabled]:hover {
	opacity: .5;
	filter: alpha(opacity='70');
	background: #dfeffc url('../images/button-bg.png') repeat-x top left;
	color: #2e6e9e;
}

button.button-small {
	height: 26px !important;
	padding: 10px 10px;
	line-height: 0;
	outline: 0 !important;
}

input.button-main,
input.button-sec {
	height: 25px;
	padding: 0 10px;
}


/*
|---------------------------------------------------------|
| FLASH MESSAGES                                          |
|---------------------------------------------------------|
*/

.flash_message {
	display: block;
	width: 100%;
	padding: 0.5rem 0.75rem;
	font-size: 0.9rem;
	line-height: 1.25;
	background-image: none;
	background-clip: padding-box;
	border-radius: 0.25rem;
}

.flash-success {
	color: #155724;
	background-color: #d4edda;
	border-color: #c3e6cb;
}

.flash-error {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.flash-info {
	color: #0c5460;
	background-color: #d1ecf1;
	border-color: #bee5eb;
}


/*
|---------------------------------------------------------|
| ADMIN PAGE CSS                                          |
|---------------------------------------------------------|
*/

#facebox {
	height: 80%;
	overflow: auto;
}

.admin {
	border-bottom: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.menu_category {
	padding-left: 32px;
	padding-right: 15px;
	margin-bottom: 5px;
	font-size: 85%;
	font-weight: normal;
	letter-spacing: 1px;
	color: #2962a8;
	text-transform: uppercase;
}

.spacer {
	height: 30px;
}

.admin-menu-overlay {
	visibility: hidden;
	position: absolute;
	display: none;
}

.control-bar .alerts {
	float: right;
}

.control-bar .settings {
	text-align: center;
}

.control-bar .alerts a,
.control-bar .settings a {
	margin-left: 20px;
	color: #fff !important;
}

.control-bar .alerts img {
	margin-bottom: -2px;
}

.control-bar .alerts>a:hover,
.control-bar .setting>a:hover {
	text-decoration: none !important;
}


/* ADMIN SUB-NAVIGATION */

.admin-nav-pills {
	text-align: left;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	display: flex;
	padding-left: 0px;
	margin-bottom: 0px;
	list-style: none;
}

.admin-nav-pills li a {
	display: block;
	padding: 5px 10px 5px 30px;
	border-bottom: 0px;
	border-left: 4px solid transparent;
	font-weight: 300;
	color: rgb(89, 89, 89);
}

.admin-nav-pills li a:hover {
	border-left: 4px solid;
	text-decoration: none;
	color: #3569ad;
}


/* CONFIG FOR SMALL DEVICES */

@media only screen and (max-width: 720px) {
	.logo-area {
		background: initial !important;
		height: 50px;
		opacity: 1;
		z-index: 1;
	}
	.not-mobile {
		display: none;
	}
	.header-nav {
		display: none;
	}
	.sub {
		font-size: 16px;
		text-align: center;
		padding-top: 0;
		background: transparent;
		box-shadow: none;
		color: #ddb757;
		margin-bottom: 0;
		margin-top: -35px;
		text-shadow: 0 10px 10px #000;
	}
	.title {
		font-size: 30px;
		margin-left: 35px;
		display: block;
		margin-top: 2px !important;
		position: relative;
	}
	.sub-nav {
		width: 100%;
		position: relative;
		right: 0;
	}
	.header-container {
		background: #3a4e6d;
	}
	.menu_category {
		padding-left: 0;
	}
	.admin-nav-sub a {
		color: #fff !important;
	}
	.alerts-admin {
		padding-right: 60px !important;
	}
	.admin-nav-pills {
		display: none;
	}
	/* ADMIN SUB-NAVIGATION ICON & MOVEMENT */
	.adminNav {
		transition-duration: 0.5s;
		transition-timing-function: swing;
		width: 50px;
		height: 50px;
		position: absolute;
		top: 20px;
		z-index: 1000;
		border-radius: 90px;
		right: 15px;
	}
	.adminNav:hover {
		cursor: pointer;
	}
	.adminNav .icon {
		transition-duration: 0.2s;
		position: absolute;
		width: 30px;
		height: 4px;
		background-color: #fff;
		top: 24px;
		left: 10px;
	}
	.adminNav .icon:before,
	.adminNav .icon:after {
		transition-duration: 0.5s;
		background-color: #fff;
		position: absolute;
		content: "";
		width: 30px;
		height: 4px;
		left: 0px;
	}
	.adminNav .icon:before {
		top: -8px;
	}
	.adminNav .icon:after {
		top: 8px;
	}
	.adminNav.open {
		right: 15px;
		z-index: 100000;
	}
	.adminNav.open .icon {
		background-color: transparent;
	}
	.adminNav.open .icon:before,
	.adminNav.open .icon:after {
		top: 0;
	}
	.adminNav.open .icon:before {
		transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		width: 30px;
		background-color: #fff;
	}
	.adminNav.open .icon:after {
		transform: rotate(45deg);
		-webkit-transform: rotate(45deg);
		width: 30px;
		background-color: #fff;
	}
	/* ADMIN SUB-NAVIGATION OVERLAY */
	.admin-menu-overlay {
		display: initial !important;
		z-index: 3;
		margin-top: 25px;
		background: #000;
		width: 100%;
		visibility: hidden;
		-webkit-transform: translateX(-100%);
		transform: translateX(-100%);
		-webkit-transition: -webkit-transform 0.4s ease-in-out, visibility 0s 0.4s;
		transition: transform 0.4s ease-in-out, visibility 0s 0.4s;
	}
	.admin-menu-overlay.open {
		visibility: visible;
		-webkit-transform: translateX(0);
		transform: translateX(0);
		-webkit-transition: -webkit-transform 0.4s ease-in-out;
		z-index: 10000;
		transition: transform 0.4s ease-in-out;
	}
	.admin-nav-sub {
		padding: 30px 0px 30px 70px;
	}
}


/*
|---------------------------------------------------------|
| MISC                                                    |
|---------------------------------------------------------|
*/

.hide {
	display: none !important;
	transition-duration: 0.5s;
}

.fixed {
	position: fixed !important;
}

.left-align {
	text-align: left;
}

.right-align {
	text-align: right;
}

.center,
.center-align {
	text-align: center;
}

.left {
	float: left !important;
}

.right {
	float: right !important;
}

.rating-box{
    display: inline-block;
}

.rating-num{
    float: left;
    padding: 2px 9px;
    color: #fff;
    font-weight: bold;
    font-size: 19px;
}

.rating-num-0{
    background: #2ecd70;
}

.rating-num-1{
    background: #e4ba0d;
}

.rating-num-2{
    background: #d45403;
}

.rating-num-3{
    background: #c03a2b;
}

.rating-num:first-of-type{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.rating-num:last-of-type{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.login form {
	padding: 0px 20px 20px 20px;
	background-color: #fbfbfb;
	border: 3px solid #d9d9d9;
	margin-top: 20px;
	border-radius: 5px;
}

.login button {
	border-radius: 2px;
	width: 100%;
	margin-top: -20px;
}

.login .content .container {
	width: 450px;
}

.no-select {
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

div.uploader span.action {
	background-color: #fff !important;
	color: #000;
}

.zoom {
	transition: transform .2s;
}

.zoom:hover {
	transform: scale(1.3);
	box-shadow: 0 0px 10px #000;
}

.zoom-no-shadow {
	transition: transform .2s;
}

.zoom-no-shadow:hover {
	transform: scale(1.3);
}


/* CONFIG FOR SMALL DEVICES */

@media only screen and (max-width: 720px) {
	#all_chzn {
		width: 100% !important;
	}
	.row>[class*="span"] {
		float: none !important;
		margin-left: 0 !important;
		display: initial !important;
	}
	.span4,
	.span12 {
		width: 100% !important;
	}
}

.mode-toggle {
	position: fixed;
	cursor: pointer;
	bottom: 20px;
	right: 20px;
	background: #fff;
	color: #000;
	width: 45px;
	height: 45px;
	border-radius: 900px;
	z-index: 10000;
	transition: 0s !important;
	display: none;
}

.mode-toggle i{
	padding: 15px 13px;
}

.mode-toggle.show {
	display: initial;
}

.mode-toggle.toggle-night-mode {
	background: #000 !important;
	color: #fff !important;
}

html.night-mode {
	background: #000;
	transition: background 0.3s;
}

.night-mode .overlay {
	background: #0000005c !important;
	transition: background 0.3s;
}

.night-mode body {
	color: #e0e0e0 !important;
}

.night-mode h1,
.night-mode h2,
.night-mode h3,
.night-mode h4,
.night-mode h5,
.night-mode h6 {
	color: #e0e0e0 !important;
}

.night-mode .nav-justified li a {
	color: #9a9a9a !important;
}

.night-mode .sub-nav {
	border-left: 3px solid #585858 !important;
}

.night-mode .nav-pills li a:hover {
	background: #575757 !important;
	color: #fff !important;
}

.night-mode .footer {
	background: #353535 !important;
	color: #b3b3b3 !important;
}

.night-mode a {
	color: #95c6e2 !important;
}

.night-mode .header-nav a {
	color: #fff !important;
}

.night-mode input[type=email],
.night-mode input[type=text],
.night-mode input[type=password],
.night-mode textarea,
.night-mode input[type=number] {
	color: #e4e4e4 !important;
	background: #353535 !important;
}

.night-mode .ui-tabs .ui-tabs-nav {
	background: #000 !important;
	color: #fff !important;
	transition: background 0.3s !important;
}

.night-mode .ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
	color: rgb(56, 56, 56) !important;
	background-color: #95c6e2 !important;
}

.night-mode .ui-tabs .ui-tabs-nav li a,
.night-mode .ui-tabs .ui-tabs-nav li a:hover {
	color: #fff !important;
}

.night-mode .control-bar {
	background: #161625 !important;
}

.night-mode .ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
	color: #000 !important;
}

.night-mode tr.alt td,
.night-mode .alt {
	background-color: #252525;
}

.night-mode .admin-nav-pills li a {
	color: #e0e0e0 !important;
}

.night-mode .admin-nav-pills li a:hover {
	color: #95c6e2 !important;
}

.night-mode .menu_category {
	color: #95c6e2 !important;
}

.night-mode select {
	background: #353535 !important;
	color: #fff !important;
}

.night-mode .cell-label {
	color: #fff !important;
}

.night-mode .input[type=email]:focus,
.night-mode .input[type=text]:focus,
.night-mode .input[type=password]:focus {
	color: #e4e4e4 !important;
	background: #353535 !important;
}

.night-mode div.chzn-container ul.chzn-choices li.search-choice {
	color: #e8e8e8 !important;
	background: #161625 !important;
	border: 1px solid #161625 !important;
}

.night-mode div.chzn-container ul.chzn-choices {
	color: #e4e4e4 !important;
	background: #353535 !important;
}

.chzn-container div.chzn-drop {
	width: 100% !important;
}

.night-mode div.chzn-container div.chzn-drop {
	background: #000 !important;
	color: #fff !important;
}

.night-mode div.chzn-container ul.chzn-results li {
	color: #fff !important;
}

.night-mode .login form {
	background-color: #131313 !important;
	border: 3px solid #333333 !important;
}

.night-mode .login button {}

.night-mode div.chzn-container ul.chzn-results li.no-results {}

.night-mode div.chzn-container ul.chzn-choices li.search-field input.default {
	color: #fff !important;
}

.night-mode #facebox .hud_body,
.night-mode #facebox .hud_content {
	background: #303030;
	color: #fff;
}

.night-mode .hud_content h1,
.night-mode .hud_content h2,
.night-mode .hud_content h3,
.night-mode .hud_content h4,
.night-mode .hud_content p,
.night-mode .hud_content .cell-label {
	color: #fff !important;
}

.night-mode #facebox .hud_content .controls {
	background: #303030;
	border-top: 1px solid #666;
	box-shadow: none !important;
}

.night-mode .title a {
	color: #ffffffdb !important;
}

.night-mode div.uploader span.action {
	background-color: #000 !important;
	color: #000;
}

.night-mode .popover .content {
	background-color: #1d1d1d !important;
}

.popover .inner {
	background: #717171 !important;
}

.popover select {
	font-size: 16px;
}

.night-mode .popover select {
	background: #353535 !important;
	color: #fff !important;
}

.night-mode .popover .title {
	color: #fff !important;
	background-color: transparent;
}

.night-mode .popover .inner {
	background: #424242 !important;
}

@media only screen and (max-width: 820px) {
	.night-mode .settings a {
		color: #263245 !important;
		margin-right: 20px;
	}
	#facebox .hud_body {
		width: 60% !important;
	}
}
