	.ui-tabs {
	position: relative;
	text-align: center;
}

.ui-tabs:before {
	position: absolute;
	top: 17px;
	display: block;
	content: "";
	width: 100%;
	box-sizing: inherit;
	height: 1px;
	background-color: rgb(128, 142, 160);
}

.ui-tabs .ui-tabs-nav {
	position: relative;
	z-index: 2;
	display: inline-block;
	text-transform: uppercase;
	padding-left: 1em;
	padding-right: 1em;
	height: 50px;
	color: rgb(49, 49, 49);
	font-size: 12px;
	*/line-height: 20px;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 0px;
	list-style: none;
	background-color: #fff;
	transition: background 0.3s;
}

.ui-tabs .ui-tabs-nav:before,
.ui-tabs .ui-tabs-nav:after {
	display: block;
	/* content: ""; */
	/* width: 100%; */
	/* height: 1px; */
	/* background-color: rgb(67, 72, 87); */
}

.ui-tabs .ui-tabs-nav:after {
	clear: both;
}

.ui-tabs .ui-tabs-nav li {
	float: left;
}

.ui-tabs .ui-tabs-nav li a {
	border-radius: 0.25rem;
	color: rgb(94, 94, 94);
	padding-top: 4px;
	padding-bottom: 4px;
	font-size: 100%;
	display: block;
	padding: 7px 15px;
}

.ui-tabs .ui-tabs-nav li a:hover {
	color: #000;
	text-decoration: none;
}

.ui-tabs .ui-tabs-nav li a:active,
.ui-tabs .ui-tabs-nav li a:focus {
	outline: none !important;
	text-decoration: none !important;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a {
	color: rgb(255, 255, 255);
	cursor: default;
	font-weight: bold;
	background-color: #808ea0;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected a,
.ui-tabs .ui-tabs-nav li.ui-state-disabled a,
.ui-tabs .ui-tabs-nav li.ui-state-processing a {
	cursor: default;
}

.ui-tabs .ui-tabs-nav li a,
.ui-tabs.ui-tabs-collapsible .ui-tabs-nav li.ui-tabs-selected a {
	cursor: pointer;
}

.ui-tabs .ui-tabs-panel {
	display: block;
	clear: both;
	text-align: left;
	padding: 0 5px;
	margin-top: 0px;
}

.ui-tabs .ui-tabs-hide {
	display: none !important;
}

@media (max-width: 767px) {
	.ui-tabs:before {
		display: none;
	}
	.ui-tabs .ui-tabs-nav li {
		width: 100%;
	}
	.ui-tabs .ui-tabs-nav {
		height: initial;
		display: block;
	}
	.nav-pills>li {
		float: left;
	}
	.nav-pills>li.active>a,
	.nav-pills>li.active>a:focus,
	.nav-pills>li.active>a:hover {
		color: #fff;
		background-color: #424242 !important
	}
	.nav-justified {
		* zoom: 1;
		height: initial;
	}
	.nav-tabs:before,
	.nav-pills:before,
	.nav-tabs:after,
	.nav-pills:after,
	.nav-pills2:after,
	.nav-pills2:before {
		display: table;
		line-height: 0;
		content: "";
	}
	.nav-tabs:after,
	.nav-pills:after,
	.nav-pills2:after {
		clear: both;
	}
	.nav-justified>li {
		width: 100%;
	}
	.nav-tabs>li>a {
		padding-top: 8px;
		padding-bottom: 8px;
		line-height: 20px;
		border: 1px solid transparent;
		-webkit-border-radius: 4px 4px 0 0;
		-moz-border-radius: 4px 4px 0 0;
		border-radius: 4px 4px 0 0;
	}
	.nav-tabs>li>a:hover {
		border-color: #eeeeee #eeeeee #dddddd;
	}
	.nav-tabs>.active>a,
	.nav-tabs>.active>a:hover {
		color: #555555;
		cursor: default;
		background-color: #ffffff;
		border: 1px solid #ddd;
		border-bottom-color: transparent;
	}
	.nav-stacked>li {
		float: none;
	}
	.nav-stacked>li>a {
		margin-right: 0;
	}
	.nav-tabs.nav-stacked {
		border-bottom: 0;
	}
	.nav-tabs.nav-stacked>li>a {
		border: 1px solid #ddd;
		-webkit-border-radius: 0;
		-moz-border-radius: 0;
		border-radius: 0;
		color: #3c7fbb;
	}
	.nav-tabs.nav-stacked>li>a:hover {
		color: #3c7fbb !important;
	}
	.nav-tabs.nav-stacked>li:first-child>a {
		-webkit-border-top-right-radius: 4px;
		border-top-right-radius: 4px;
		-webkit-border-top-left-radius: 4px;
		border-top-left-radius: 4px;
		-moz-border-radius-topright: 4px;
		-moz-border-radius-topleft: 4px;
	}
	.nav-tabs.nav-stacked>li:last-child>a {
		-webkit-border-bottom-right-radius: 4px;
		border-bottom-right-radius: 4px;
		-webkit-border-bottom-left-radius: 4px;
		border-bottom-left-radius: 4px;
		-moz-border-radius-bottomright: 4px;
		-moz-border-radius-bottomleft: 4px;
	}
	.nav-tabs.nav-stacked>li>a:hover {
		z-index: 2;
		border-color: #ddd;
	}
}